<div class="collapse navbar-collapse" id="main-nav">
    
    <ul class="navbar-nav w-auto mx-auto">

        <!-- Home link -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-silver mr-5" href="{% url 'home' %}" id="all-products-link" aria-haspopup="true" aria-expanded="false">
                Home
            </a>
        </li>

        <!-- Games link -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-silver mr-5" href="#" id="clothing-link" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false">
                Games
            </a>
            <div class="dropdown-bg dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'games' %}?category=pc" class="dropdown-item">PC</a>
                <a href="{% url 'games' %}?category=ps5" class="dropdown-item">PS5</a>
                <a href="{% url 'games' %}?category=ps4" class="dropdown-item">PS4</a>
                <a href="{% url 'games' %}?category=xbox_one" class="dropdown-item">XBOX ONE</a>
                <a href="{% url 'games' %}?category=pc,ps5,ps4,xbox_one" class="dropdown-item">All Games</a>
            </div>
        </li>

        <!-- Wishlist link -->
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-silver" href="{% url 'wishlist' %}" id="specials-link" aria-haspopup="true" aria-expanded="false">
                Wishlist
            </a>
        </li>

    </ul>

</div>