<div class="collapse navbar-collapse" id="main-nav">
    
    <ul class="navbar-nav w-auto mx-auto">

        <!-- Home link -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-grey mr-5" href="#" id="all-products-link" aria-haspopup="true" aria-expanded="false">
                Home
            </a>
        </li>

        <!-- Games link -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-grey mr-5" href="#" id="clothing-link" aria-haspopup="true" aria-expanded="false">
                Games
            </a>
        </li>

        <!-- Contact link -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-grey mr-5" href="#" id="homeware-link" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
        </li>

        <!-- Wishlist link -->
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-grey" href="#" id="specials-link" aria-haspopup="true" aria-expanded="false">
                Wishlist
            </a>
        </li>

    </ul>

</div>